@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


:root {
    --Tekst-color: #555555; 

}


body {
    /* background-image: url("img/circle-scatter-haikei1.svg"); */
    /* width: 100%;
    height: 4600px; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    /* background-color: beige; */
    /* position: fixed; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: var(--Tekst-color);

}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #fcfef4;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.flexDisp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexDispRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.HelloHeader {
    width: 100%;
    height: 400px;
    /* border: 2px solid peru; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -30px;
    z-index: 1;
}

.headU {
    width: 90%;
    height: 100%;
    /* border: 2px solid peru; */
    background-image: url("img/mainblob/ssshape9s.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left;
    align-self: flex-start;
    margin-top: 30px;
    z-index: 0;
    transform: rotate(3deg);
}


.hellotext {
    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: 70px;
    /* border: 2px solid peru; */
    text-align: left;
    padding-right: 8%;
    transform: rotate(-3deg);
    line-height: 1;
}


.hellotext h2 {
    font-size: 270%;
    color: #555555;
}

.hellotext p {
    margin-top: -10px;
    font-size: 20px;
    color: #555555;
    letter-spacing: 10px;
}

@media screen and (max-width: 1020px) {
    .hellotext {
        margin-left: 12%;
        margin-bottom: 30px;
    }
  }

@media screen and (max-width: 640px) {
    .hellotext h2 {
        font-size: 220%;
    }

    .hellotext p{
        margin-top: -20px;
    }

  }

  @media screen and (max-width: 490px) {
    .hellotext h2 {
        font-size: 200%;
    }
    .hellotext p{
        font-size: 14px;
        letter-spacing: 8px;
    }
    .hellotext {
        margin-left: 13%;
        margin-bottom: 30px;
    }


  }

  @media screen and (max-width: 312px) {
    .hellotext h2 {
        font-size: 180%;
    }

    .hellotext p {
        font-size: 15px;
    }

    .hellotext {
        margin-left: 10%;
        margin-bottom: 30px;
    }

  }


.startclass{
    width: 100%;
    height: auto;
    /* border: 2px solid peru; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0 30px 0;
}

#StartClass{
    position:relative;
    /* left: -2000px; */
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0 30px 0;
    /* transition: .5s ease-in-out; */
    margin-top: 50px;
    /* border: 2px solid peru; */
}

.w3-animate-left {
    position: relative;
    animation: animateleft 1.9s ease-out;
}

@keyframes animateleft
{
    from {left:-1400px;} 
    to{left:0;}
}

.w3-animate-right{
    position:relative;
    animation:animateright 0.4s
}
.w3-animate-right-delay{
    position:relative;
    animation:animateright 1.9s ease-out;
}
@keyframes animateright
{
    from {right:-1800px;opacity:0} 
    to{right:0;opacity:1}
}


.instartTitle {
    /* border: 2px solid peru; */
    display: block;
    position: relative;
    left: 0px;
    width: 90%;
    left: -800px;
}
.instartTitle h3 {
    font-size: 40px;
    letter-spacing: 10px;
}

.instartdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    /* border: 2px solid peru; */
}

.SibUnder {
    /* border: 2px solid peru; */
    height: 100%;
    z-index: 1;
    position: relative;
}

#SibUnder {
    flex-direction: column;
    line-height: 2.1em;
    width: 60%;
}

#SibUnderH3{
    position: relative;
    left: -1600px;
    letter-spacing: 6px;
    width: 70%;
    font-size: 25px;
    margin: 30px 0 0 0;
    text-align: center;
    /* border: 2px solid peru; */
}

.beterweb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.LeftIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    left: -1800px;
}

.LeftIcons p {
    margin: 10px;
}

.lesticon {
    width: 60px;
}


.leftinstartdown {
    width: 40%;
    right: -1200px;
}

.mon {
    position: absolute;
}

.transIcons{
    opacity: 0.6;
    transition: 0.6s ease all;
    filter: invert(50%) sepia(51%) saturate(551%) hue-rotate(325deg) brightness(101%) contrast(86%);
}

.transIcons:hover {
    opacity: 1;
}

.gdicon {
    /* transform: perspective(800px) rotateY(27deg) scale(0.9) rotateX(8deg); */
    width: 264px;
    /* border: 2px solid peru; */
    /* box-shadow: rgba(0, 0, 0, 0.25) -25px 25px 70px -18px; */
    animation: float 3s infinite ease-in-out;
    position: relative;
    left: 300px;
    opacity: 0.4;
    z-index: 1;
}


.anicon {
    /* transform: perspective(800px) rotateY(30deg) scale(0.9) rotateX(8deg); */
    width: 94px;
    box-shadow: rgba(0, 0, 0, 0.25) -25px 25px 30px -18px;
    animation-name: float;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
    position: relative;
    top: 50px;
    left: 230px;
    z-index: 5;
    opacity: 0.7;
}

.picicon {
    /* transform: perspective(800px) rotateY(34deg) scale(0.9) rotateX(9deg); */
    width: 84px;
    box-shadow: rgba(0, 0, 0, 0.25) -15px 15px 30px -8px;
    /* border: 2px solid rgb(255, 151, 151); */
    animation: float2 3s 0.2s infinite ease-in-out;
    position: relative;
    top: -50px;
    left: 180px;
    opacity: 0.7;
    border-radius: 10px;
}

.smicon {
    /* transform: perspective(800px) rotateY(32deg) scale(0.9) rotateX(9deg); */
    width: 84px;
    box-shadow: rgba(0, 0, 0, 0.25) -25px 25px 30px -22px;
    /* border: 2px solid peru; */
    animation: float 3s 0.7s infinite ease-in-out;
    position: relative;
    top: 80px;
    left: -190px;
    border-radius: 15px;
    opacity: 0.6;
    z-index: 3;

}


.chicon {
    /* transform: perspective(800px) rotateY(32deg) scale(0.9) rotateX(9deg); */
    width: 64px;
    /* border: 2px solid peru; */
    animation: float 3s 0.7s infinite ease-in-out;
    position: relative;
    top: -130px;
    left: -60px;
    opacity: 0.8;
}

.bcicon {
    /* transform: perspective(800px) rotateY(32deg) scale(0.9) rotateX(9deg); */
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) -25px 25px 30px -22px;
    /* border: 2px solid peru; */
    animation: float 3s 0.3s infinite ease-in-out;
    position: relative;
    top: 2px;
    left: -140px;
    z-index: 2;
    opacity: 0.7;
    border-radius: 4px;
}

.scicon {
    /* transform: perspective(800px) rotateY(32deg) scale(0.9) rotateX(9deg); */
    width: 110px;
    box-shadow: rgba(0, 0, 0, 0.25) -25px 25px 30px -22px;
    /* border: 2px solid peru; */
    animation: float3 3s 0.2s infinite ease-in-out;
    position: relative;
    top: -26px;
    left: -375px;
    z-index: 5;
    opacity: 0.7;
    border-radius: 8px;
}

.busicon{ 
    /* transform: perspective(800px) rotateY(32deg) scale(0.9) rotateX(9deg); */
    width: 70px;
    box-shadow: rgba(0, 0, 0, 0.25) -25px 25px 30px -22px;
    /* border: 2px solid peru; */
    animation: float2 3s 0.4s infinite ease-in-out;
    position: relative;
    top: -50px;
    left: -390px;
    z-index: 3;
    opacity: 0.7;
    border-radius: 4px;

}

.woicon {
    /* transform: perspective(800px) rotateY(32deg) scale(0.9) rotateX(9deg); */
    width: 74px;
    /* border: 2px solid peru; */
    box-shadow: rgba(0, 0, 0, 0.25) -25px 25px 30px -22px;
    animation: float 3s 0.3s infinite ease-in-out;
    position: relative;
    top: -50px;
    left: -420px;
    border-radius: 50%;
    z-index: 3;

}

@keyframes float {
    0% { transform: perspective(800px) rotateY(35deg) scale(0.9) rotateX(8deg) translateY(-10px)}
    50% { transform: perspective(800px) rotateY(35deg) scale(0.9) rotateX(8deg) translateY( 0px)}
    100% { transform: perspective(800px) rotateY(35deg) scale(0.9) rotateX(8deg) translateY(-10px)}    
}

@keyframes float1 {
    0% { transform: perspective(800px) rotateY(35deg) scale(0.9) rotateX(8deg) translateY(-10px) rotateZ(1.5deg)}
    50% { transform: perspective(800px) rotateY(35deg) scale(0.9) rotateX(8deg) translateY( 0px) rotateZ(1.5deg)}
    100% { transform: perspective(800px) rotateY(35deg) scale(0.9) rotateX(8deg) translateY(-10px) rotateZ(1.5deg)}    
}

@keyframes float2 {
    0% { transform: perspective(800px) rotateY(40deg) scale(0.9) rotateX(8deg) translateY(-10px) rotateZ(2deg)}
    50% { transform: perspective(800px) rotateY(40deg) scale(0.9) rotateX(8deg) translateY( 0px) rotateZ(2deg)}
    100% { transform: perspective(800px) rotateY(40deg) scale(0.9) rotateX(8deg) translateY(-10px) rotateZ(2deg)}    
}

@keyframes float3 {
    0% { transform: perspective(800px) rotateY(35deg) scale(0.9) rotateX(8deg) translateY(-10px) rotateZ(1deg)}
    50% { transform: perspective(800px) rotateY(35deg) scale(0.9) rotateX(8deg) translateY( 0px) rotateZ(1deg)}
    100% { transform: perspective(800px) rotateY(35deg) scale(0.9) rotateX(8deg) translateY(-10px) rotateZ(1deg)}    
}

@media screen and (max-width: 1400px) {
    .leftinstartdown{
        margin-right: -45px;
    }
}


@media screen and (max-width: 1000px) {
    .instartdown{
        flex-direction: column;
    }
    .leftinstartdown {
        width: 100%;
        margin-top: 50px;
    }
    #SibUnder{
        width: 100%;
    }
    .startclass{
        margin: 0px;
    }
    .beterweb {
        margin: 10px 0 0 0;
    }
    .LeftIcons p {
        margin: 10px;
    }
    
  }

  @media screen and (max-width: 600px) {
    .LeftIcons p {
        margin: 0;
    }
    .beterweb {
        flex-direction: column;
        /* border: 2px solid peru; */
    }

    .LeftIcons {
        margin-top: 30px;
    }

    .lesticon {
        margin-bottom: 10px;
    }
    
    .leftinstartdown {
        margin: 100px 0 0 -40px;
    }

    .SibUnder h3 {
        margin-top: 30px;
    }
    .gdicon {
        width: 264px;
        /* border: 2px solid peru; */
        left: 300px;
        opacity: 0.3;
    }
    
    .anicon {
        width: 94px;
        animation-name: float;
        animation-delay: 0.5s;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out; 
        top: 50px;
        left: 230px;
    }
    
    .picicon {
        width: 84px;
        /* border: 2px solid rgb(255, 151, 151); */
        animation: float2 3s 0.2s infinite ease-in-out;
        top: -140px;
        left: -60px;
        opacity: 0.6;
    }
    
    .smicon {
        width: 64px;
        /* border: 2px solid peru; */
        animation: float 3s 0.7s infinite ease-in-out;
        top: 80px;
        left: -140px;
        opacity: 0.8;
    }
    
    
    .chicon {
        width: 64px;
        /* border: 2px solid peru; */
        animation: float 3s 0.7s infinite ease-in-out;
        top: -120px;
        left: -60px;
    }
    
    .bcicon {
        width: 40px;
        /* border: 2px solid peru; */
        animation: float2 3s 0.3s infinite ease-in-out;
        top: -50px;
        left: -110px;
    }
    
    .scicon {
        width: 110px;
        /* border: 2px solid peru; */
        animation: float3 3s 0.2s infinite ease-in-out;
        top: -26px;
        left: -325px;
    }
    
    .busicon{ 
        width: 70px;
        /* border: 2px solid peru; */
        animation: float 3s 0.4s infinite ease-in-out;
        top: 0px;
        left: -330px;
    }
    
    .woicon {
        width: 44px;
        /* border: 2px solid peru; */
        animation: float 3s 0.7s infinite ease-in-out;
        top: -50px;
        left: -190px;
        opacity: 0.8;
    }
  }





/* /////////////////////////////////// Contact form //////////////////////////////////////////// */

.container {
    width: 100%;
    height: auto;
    /* background: #001660; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    /* border: 2px solid peru; */
}

.container h3{
    color: #555;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 0px;
    /* margin-left: 10%; */
    /* margin-left: 150px; */
    letter-spacing: 10px;
    width: 90%;
    /* border: 2px solid peru; */
    position: relative;
    left: -800px;
}


.contactContainer {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: solid 2px peru; */

}

.contactPics {
    width: 50%;
    max-height: 500px;
    height: 90%;
    /* border: solid 2px peru; */
    /* margin-left: 10%; */
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: -1300px;
}

.contactPics p {
    color: #555;
    font-weight: 800;
    font-size: 20px;
    width: 70%;
    margin-bottom: 100px;
    line-height: 1.9rem;
    letter-spacing: 2px;
}

.icons {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid peru; */
    height: auto;
}

.icons img {
    margin: 0 5px 0 5px;
}

.linkedin_icon {
    width: 60px;
    height: 5%;
    transition: 0.2s;
    /* border: 2px solid peru; */
    filter: invert(50%) sepia(51%) saturate(551%) hue-rotate(325deg) brightness(101%) contrast(86%);



}

.linkedin_icon:hover {
    transform: scale(1.2);
    filter: invert(27%) brightness(1000%) contrast(100%);
}

.facebok_icon {
    width: 64px;
    transition: 0.2s;
    /* border: 2px solid peru; */
    filter: invert(50%) sepia(51%) saturate(551%) hue-rotate(325deg) brightness(101%) contrast(86%);



}

.facebok_icon:hover {
    transform: scale(1.2);
    filter: invert(27%) brightness(1000%) contrast(100%);
}

.github_icon {
    width: 64px;
    transition: 0.2s;
    /* border: 2px solid peru; */
    filter: invert(50%) sepia(51%) saturate(551%) hue-rotate(325deg) brightness(101%) contrast(86%);


}

.github_icon:hover {
    transform: scale(1.2);
    filter: invert(27%) brightness(1000%) contrast(100%);
}



form {
    /* border: solid 2px peru; */
    /* background: #fff; */
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 50%;
    max-width: 600px;
    border-radius: 10px;
    z-index: 10;
    margin: 20px 0 20px 0;
    position: relative;
    right: -1500px;
}



form input, form textarea {
    border: 0;
    margin:  10px 0;
    padding: 20px;
    outline:  none;
    background: #f5f5f5;
    font-size: 16px;
    border-radius: 10px;
    letter-spacing: 2px;

}

form button {
    padding: 15px;
    /* background: #ff5361; */
    background: #e0775c;
    color: #fff;
    font-size: 18px;
    border: 0;
    /* outline: none; */
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    transition: all 0.05s ease-in;
}

form button:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

form button:active {
    transform: scale(1.08) translateY(3px);
    opacity: 0.9;
}

.validInputData{
    display: none;
    font-size: 13px;
    color: #ff5361;
}

.messageSend {
    display: none;
    text-align: center;
    font-size: 20px;
    color:rgb(72, 150, 124);
}



@media screen and (max-width: 700px) {
    .contactContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding: 5px; */
    }
    .contactPics {
        /* border: solid 2px peru; */
        margin-top: 20px;
        width: 100%;
    }
    .container h3{
        margin-bottom: 10px;
        /* border: solid 2px peru; */
    }
    .contactPics p {
        font-size: 20px;
        width: 100%;
        margin-bottom: 60px;
    }
    
    .icons {
        margin-left: -10px;
        /* margin-bottom: 20px; */
        /* border: 2px solid peru; */
    }

    form {
        /* background: #fff; */
        width: 90%;
        margin-left: 0px;
    }

  }

  @media screen and (max-width: 400px) { 
    .container h3{
        letter-spacing: 5px;
        font-size: 35px;
    }
  }



  /* ////////////////  END Contact form ///////////////////////// */