/* /////////////////////////////  Animated background /////////////////////////////// */


.area{
    /* position: relative; */
    /* background: #fcfef4;   */
    /* background: #ffeeea;   */
    background: linear-gradient(217deg, #fff2d4, #dfd7d5 70.71%),
            linear-gradient(127deg, #fbf5d0, #dbc2bc 70.71%),
            linear-gradient(336deg, #ffd4cc, #ffc7b0 70.71%);
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.circles{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    /* width: 20px; */
    /* height: 100px; */
    background: rgba(94, 94, 94, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: 0;
}

.circles li:nth-child(1){
    opacity: 0;
    top: 32%;
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


/* .circles li:nth-child(2){
    opacity: 0;
    top: 52%;
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
} */

.circles li:nth-child(3){
    opacity: 0;
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    opacity: 0;
    top: 82%;
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    opacity: 0;
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    opacity: 0;
    top: 72%;
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    opacity: 0;
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    opacity: 0;
    top: 62%;
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    opacity: 0;
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    opacity: 0;
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 24s;
    animation-duration: 20s;
}

/* .circles li:nth-child(11){
    opacity: 0;
    left: 12%;
    top: 30%;
    width: 150px;
    height: 150px;
    animation-delay: 20s;
    animation-duration: 16s;
}

.circles li:nth-child(12){
    opacity: 0;
    left: 100%;
    top: 20%;
    width: 10px;
    height: 10px;
    animation-delay: 18s;
    animation-duration: 9s;
}

.circles li:nth-child(13){
    opacity: 0;
    left: 100%;
    top: 25%;
    width: 60px;
    height: 60px;
    animation-delay: 16s;
    animation-duration: 7s;
}

.circles li:nth-child(14){
    opacity: 0;
    left: 100%;
    top: 35%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 16s;
}

.circles li:nth-child(15){
    opacity: 0;
    left: 100%;
    top: 60%;
    width: 70px;
    height: 70px;
    animation-delay: 3s;
    animation-duration: 9s;
}

.circles li:nth-child(16){
    opacity: 0;
    left: 100%;
    top: 40%;
    width: 120px;
    height: 120px;
    animation-delay: 5s;
    animation-duration: 22s;
} */

.circles li:nth-child(17){
    opacity: 0;
    left: 100%;
    top: 20%;
    width: 40px;
    height: 40px;
    animation-delay: 16s;
    animation-duration: 4s;
}

.circles li:nth-child(18){
    opacity: 0;
    left: 100%;
    top: 70%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 10s;
}

/* .circles li:nth-child(19){
    opacity: 0;
    left: 100%;
    top: 60%;
    width: 25px;
    height: 25px;
    animation-delay: 3s;
    animation-duration: 27s;
}

.circles li:nth-child(20){
    opacity: 0;
    left: 110%;
    top: 55%;
    width: 15px;
    height: 15px;
    animation-delay: 5s;
    animation-duration: 17s;
}


.circles li:nth-child(21){
    opacity: 0;
    left: 0%;
    top: 50%;
    width: 80px;
    height: 80px;
    animation-delay: 3s;
} */


.circles li:nth-child(22){
    opacity: 0;
    left: 40%;
    top: 45%;
    width: 20px;
    height: 20px;
    animation-delay: 7s;
    animation-duration: 12s;
}

.circles li:nth-child(23){
    opacity: 0;
    left: 80%;
    top: 40%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(24){
    opacity: 0;
    left: 10%;
    top: 35%;
    width: 60px;
    height: 60px;
    animation-delay: 3s;
    animation-duration: 19s;
}

.circles li:nth-child(25){
    opacity: 0;
    left: 65%;
    top: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 7s;
}

/* .circles li:nth-child(26){
    opacity: 0;
    left: 95%;
    top: 30%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(27){
    opacity: 0;
    left: 5%;
    top: 25%;
    width: 150px;
    height: 150px;
    animation-delay: 9s;
}

.circles li:nth-child(28){
    opacity: 0;
    left: 40%;
    top: 70%;
    width: 25px;
    height: 25px;
    animation-delay: 4s;
    animation-duration: 25s;
} */

.circles li:nth-child(29){
    opacity: 0;
    left: 50%;
    top: 55%;
    width: 15px;
    height: 15px;
    animation-delay: 6s;
    animation-duration: 15s;
}

.circles li:nth-child(30){
    opacity: 0;
    left: 35%;
    top: 55%;
    width: 150px;
    height: 150px;
    animation-delay: 24s;
    animation-duration: 25s;
}

.circles li:nth-child(31){
    opacity: 0;
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


/* .circles li:nth-child(32){
    opacity: 0;
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(33){
    opacity: 0;
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(34){
    opacity: 0;
    left: 40%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 18s;
} */

.circles li:nth-child(35){
    opacity: 0;
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(36){
    opacity: 0;
    left: 75%;
    width: 50px;
    height: 50px;
    animation-delay: 6s;
}

.circles li:nth-child(37){
    opacity: 0;
    left: 35%;
    width: 650px;
    height: 650px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(38){
    opacity: 0;
    left: 100%;
    top: 20%;
    width: 750px;
    height: 750px;
    animation-delay: 2s;
    animation-duration: 32s;
}

:root {
    --animation-X: 0; 
    --animation-Y: 0; 
}

/* @keyframes animate {

    0%{
        transform: translateY(var(--animation-Y)) translateX(var(--animation-X)) rotate(0deg);
        opacity: 0;
        border-radius: 20%;
    }

    15% {
        opacity: 0.5;
    }

    50% {
        border-radius: 50%;
    }

    100%{
        transform: translateY(-1000px) translateX(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 30%;
    }

} */


/* /////////////////////////////   END Animated background /////////////////////////////// */
